build/

debian/*
!debian/source/
!debian/changelog
!debian/changelog.in
!debian/compat
!debian/control
!debian/copyright
!debian/rules.in

flatpak/io.playnux.gamemanager.json
flatpak/.flatpak-builder/

*~

.buildconfig

snap/*
!snap/snapcraft.yaml
